@model MarshfieldClinic.Models.SearchViewModel

@*@using (Html.BeginUmbracoForm("SubmitSearchForm", "Search", FormMethod.Post))*@
@using (Ajax.BeginForm("SubmitGlobalSearchForm", "Search", null, new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "search-results"
}))
{
    @Html.HiddenFor(m => m.DocTypeAliases)
    @Html.HiddenFor(m => m.FieldPropertyAliases)
    @Html.HiddenFor(m => m.PageSize)
    @Html.HiddenFor(m => m.PagingGroupSize)

    @Html.TextBoxFor(m => m.SearchTerm, new { placeholder = "Search..." })
    <button class="header-test-button new-button" id="submit-button">Search</button>

    <div id="search-results">
        @{ Html.RenderAction("RenderGlobalSearchResults", "Search", new { Model = Model.SearchResults });}
    </div>
            }
