@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@{
	var aboutOurClinic = Umbraco.TypedContent(1290).Children()
						.Where(x => x.IsVisible());
}
<div class="footer-container container-fluid">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul><span class="heading footer-list">About our clinic</span>
            	@foreach(var item in aboutOurClinic){
            		<li>
            			<a href="@item.Url">@item.Name</a>
            		</li>
            	}
            </ul>
        </div>
        
        <div class="col-md-3">
        @{
        	var ourHealthSystem = Umbraco.TypedContent(1300).Children()
        						.Where(x => x.IsVisible());
        }
        
        <ul><span class="heading footer-list">our health system</span>
            @{int ko = 0;}
        	@foreach(var item in ourHealthSystem){
        	    if(ko == 7){
        	        @Html.Raw("</ul></div><div class=\"col-md-3\"><ul><span style=\"color: rgba(255, 255, 255, 0);\" class=\"heading footer-list\">our health system</span>");
        	    }
        		<li>
        			<a href="@item.Url">@item.Name</a>
        		</li>
        		ko++;
        	}
        </ul>
        </div>
        <div class="col-md-2">
        <ul>
            <li><span class="heading footer-list">@CurrentPage.AncestorOrSelf(1).GetPropertyValue("mainPhoneNumber")</span></li>
        </ul>
        </div>
    </div>
    </div>
</div>

