@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<!-- START NEW HEADER -->

<div class="all-the-header">
    <div class="container">
    <a class="logo-link" href="/#">
        <div id="test-logo"></div>
    </a>
    <nav id="primary_nav_wrap">
        <ul class="top-level-nav">
            <li class="hasKids"><a href="#">Explore</a>
                <ul class="explore">
                    
                    
                @{
                	var exploreMenu = Model.Content.Site().Children("page").Where(x => x.IsVisible());
                }
                
                	@foreach(var item in exploreMenu){
                		<li>
                		    @if(@item.HasProperty("alternatePageLink") && @item.GetProperty("alternatePageLink").Value != String.Empty){
                               <a href="@item.GetPropertyValue("alternatePageLink")">
                    		    <span class="heading">@item.GetPropertyValue("navigationLabel")</span>
                    		    
                    		    <p>
                    		    @item.GetPropertyValue("navigationDesc")
                    		   </p>
                    		   </a>
                            }else{
                                <a href="@item.Url">
                    		    <span class="heading">@item.GetPropertyValue("navigationLabel")</span>
                    		    
                    		    <p>
                    		    @item.GetPropertyValue("navigationDesc")
                    		   </p>
                    		   </a>
                            }
                		    
                		</li>
                	}

                </ul>
            </li>
            <li class="hasKids"><a href="#">Locations</a>
                <ul>
                    <!--URGENT CARE LINKS-->
                    <li class="dir locations"><a class="heading" href="#">Urgent Care</a>
                   
@{
	var derp = Umbraco.TypedContent(1103).Children()
						.Where(x => x.IsVisible());
}


 
                <ul>
                	@foreach(var item in derp){
                	var yourVals = item.GetPropertyValue<IEnumerable<string>>("locationTypes");
                    	foreach(var val in yourVals){
                            if(val.Contains("Urgent")){
                                <li><a href="@item.Url">@item.Name</a></li>
                            }
                        }
                	}
                </ul>

                    </li>
                    <!--HOSPITALS LINKS-->
                    <li class="dir locations"><a class="heading" href="#">Hospitals</a>
                        <ul>
                           @foreach(var item in derp){
                	var yourVals = item.GetPropertyValue<IEnumerable<string>>("locationTypes");
                    	foreach(var val in yourVals){
                            if(val.Contains("Hospital")){
                                <li><a href="@item.Url">@item.Name</a></li>
                            }
                        }
                	}
                        </ul>
                    </li>
                    <!--CLINIC LINKS-->
                    <li class="dir locations"><a class="heading" href="#">Clinics</a>
                        <ul>
                           @foreach(var item in derp){
                	var yourVals = item.GetPropertyValue<IEnumerable<string>>("locationTypes");
                    	foreach(var val in yourVals){
                            if(val.Contains("Clinic")){
                                <li><a href="@item.Url">@item.Name</a></li>
                            }
                        }
                	}
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="hasKids"><a href="#">Doctors</a>
                <ul class="findADoctor">
                    <li>
                        <p class="heading">Quick Doctor Search</p>
                        <p>Type a condition, name, specialty, or location.</p>
                        <div class="doc-form-container">
                            <form id="doctor-test-form" name="doctor-test-form">
                                <input class="test-input" id="docSearchInput"  name="docSearchInput" placeholder="Search"
                                       title="search text box" type="text"/>
                                <button class="doc-test-button" type="submit">SEARCH</button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <p class="heading">Select a specialty</p>
                            @{
                            	var selection = Umbraco.TypedContent(1157).Children().Where(x => x.IsVisible());
                            	int i = 0; 				
                            }
                           <ul class="home-specialties">
                               <li>
                            	@foreach(var item in selection){
                            	    if(i == 14 || i == 28){
                            	    @Html.Raw("</li><li>")
                            	   
                            	    }
                            	
                            			<a href="@item.Url">@item.Name (@item.Children.Count())</a>
                            	
                            	    i++;
                            	
                            	}
                            	</li>
                            </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/appointments">Request Appointment</a></li>
            <li><a href="https://www.marshfieldclinic.org/MyMarshfieldClinic">Sign In/Register</a></li>
        </ul>
        <div class="new-form-container">
            <form id="header-test-form" name="header-test-form">
                <input class="test-input" id="newSearchInput" name="newSearchInput" placeholder="Search" title="search text box" type="text"  autocomplete="off"/>
                <div id="typeAheadResults">
                    <div class="row">
                        <div class="col-md-4" id="typeAheadServices">
                            <a class="heading" href="#">Services & Specialties</a>
                            <div class="menu-items"></div>
                        </div>
                        <div class="col-md-3" id="typeAheadLocations">
                            <a class="heading" href="#">Locations</a>
                            <div class="menu-items"></div>
                        </div>
                        <div class="col-md-5" id="typeAheadBlog">
                            <a class="heading" href="#">Recent Blog Posts</a>
                            <div class="menu-items"></div>
                        </div>
                    </div>
                    <div id="row">
                        <div class="col-md-12" id="typeAheadProviders">
                            <a class="heading" href="#">Providers</a>
                            <div class="menu-items"></div>
                        </div>
                    </div>
                    
                </div>
                
                <button class="header-test-button" type="submit">SEARCH</button>
            </form>
        </div>
    </nav>
    </div>
    <div class="new-quick-tasks"><a href="/care-my-way">contact care my way</a><a href="/Patient-Resources/billing">pay
        a bill</a><a href="/renew-prescription">refill prescriptions</a></div>
        
</div>

<!-- END NEW HEADER -->