@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
@section Stylesheets {
<link rel="stylesheet" href="/css/location-page.css" type="text/css" media="screen" />
}


<div class="body-margin container">
    <!--location title-->
    <div class="row">
        <div class="col-md-12">
          @if(Model.Content.HasValue("displayName")){
            <h1 style="width: 100%; text-align: center;">@Umbraco.Field("displayName")</h1>
          }else{
            <h1 style="width: 100%; text-align: center;">@Umbraco.Field("pageName")</h1>
          }
          @if(Model.Content.HasValue("locationDesc")){
            <h3 style="width: 100%; text-align: center; margin-bottom: 40px;">@Umbraco.Field("locationDesc")</h3>
          }
        </div>
    </div>
    <!--start location content-->
    <div class="row">
        
        <div class="col-md-4">
            @Html.Partial("location-sidebar")
        </div>
        <div class="col-md-8">
            @Html.Partial("location-info")
            
        </div>
    </div>
</div>

